$prefix: 'rc-menus';

.#{$prefix} {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  overflow: auto;
  transition: transform 0.2s;

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border-bottom: thin solid #f0f0f0;
  }
}

.#{str-slice($prefix, 1, 7)} {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  height: 2rem;
  padding: 0 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #555;
  cursor: pointer;
  background-color: #fafafa;
  border: thin solid #f0f0f0;
  border-radius: 0.25rem 0.25rem 0 0;
  outline: none;
  transition: 0.2s;

  &:hover {
    color: #40a9ff;
  }

  &:not(:last-of-type) {
    margin-right: 0.3rem;
  }

  &-active {
    color: #1890ff;
    background-color: #fff;
    border-bottom-color: #fff;
  }

  > span {
    margin-right: 0.5rem;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    + svg {
      flex-shrink: 0;
      color: #555;
      transition: 0.2s;

      &:hover {
        color: #409eff;
      }
    }
  }
}
